    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    
    body {
        background-color: rgb(17, 17, 17);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        font-family: sans-serif;
        font-weight: 500;
        color: white;
        font-size: 30pt;
        padding-top: 8vh;
    }
    
    body>button {
        width: 100px;
        height: 30px;
        border: none;
        border-radius: 0.6rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        -ms-border-radius: 0.6rem;
        -o-border-radius: 0.6rem;
    }
    
    body>button:hover {
        background-color: rgb(185, 185, 185);
        cursor: pointer;
    }
    
    body>input {
        cursor: pointer;
        margin-top: 20px;
        width: 80vw
    }
    
    #sakko {}
    
    #aal {
        height: 4rem;
        width: 30vw;
    }
    
    #aalblockbox {
        width: 61rem;
        height: 7rem;
        display: flex;
        justify-content: right;
    }
    
    #aalblockbox>div {
        width: 100%;
        height: 5.5rem;
        background-color: rgb(17, 17, 17);
    }
    
    #slider {
        background-color: #153F32;
    }
    
     ::-webkit-scrollbar {
        width: .31rem;
        height: .63rem;
        background-color: #0c0c0c;
    }
    
     ::-webkit-scrollbar-thumb {
        background: rgb(90, 90, 90);
    }